<button onclick="location.href='@Url.Action("Delete", "User")'">Delete</button>
<button onclick="location.href='@Url.Action("Update", "User")'">Update</button>
<button onclick="location.href='@Url.Action("Register", "User")'">Register</button>
<button onclick="location.href='@Url.Action("GetById", "User")'">GetById</button>
<button onclick="location.href='@Url.Action("GetUsers", "User")'">GetUsers</button>
