<h1>                        Home Page    </h1>
<h3>Please select the desired screen</h3>

<button onclick="location.href='@Url.Action("Index","User")'">User</button>
<button onclick="location.href='@Url.Action("Index", "Customer")'">Update</button>
<button onclick="location.href='@Url.Action("Index", "Garage")'">Register</button>
<button onclick="location.href='@Url.Action("Index", "GaragePermission")'">GetById</button>
<button onclick="location.href='@Url.Action("Index", "GarageVisit")'">GetUsers</button>
<button onclick="location.href='@Url.Action("Index", "Permission")'">GetById</button>
<button onclick="location.href='@Url.Action("Index", "Vehicle")'">GetUsers</button>
